h1 {
    text-align: center;
}

.button1 {
    margin-left: 650px;
    margin-top: 400px;
    width: 200px;
    height: 50px;
}
.button2 {
    width: 200px;
    height: 50px;
}
.button3 {
    width: 200px;
    height: 50px;
}

.enter {
    width: 200px;
    height: 50px;
}

.display1 {
    text-align: center;
}

.display2 {
    text-align: center;
}

.display3 {
    text-align: center;
}
